html, body {
  height: 100%;
  margin: 0;
  background-color: #f8f7f5 !important; 
  background: radial-gradient(circle at top, #ffffff 0%, #f8f7f5 100%) !important;
  background-attachment: fixed;
}
